@namespace Oqtane.Theme.NewCo
@inherits ContainerBase
<div class="container">
    @if (PageState.EditMode)
    {
        <ModuleActions />
    }
    <ModuleInstance />
</div>

@code {
    public override string Name => "No Header";
}